
body{
	user-select: none;
	overflow: hidden;
	>.page{
		height: 100%;
		>div {
			height: 100%;
		}
	}
	a{
		color: #333;
		-webkit-user-drag: none;
	}
  a:hover{
    color: #5497ff;
  }
  a:focus{
		text-decoration: none;
	}
	img{
		-webkit-user-drag: none;
	}
	.ant-btn-primary, .ant-btn-primary:hover, .ant-btn-primary:focus{
		background-color: #4080FF;
		border-color: #4080FF;
	}

	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	p{
		margin-bottom: 0;
	}

	.text-button{
		cursor: pointer;
	}

}