
body{
	>.page{
		height: 100%;
		>div {
			height: 100%;
		}
	}
	a{
		color: #333;
	}
  a:hover{
    color: #5497ff;
  }
  a:focus{
		text-decoration: none;
	}
	.ant-btn-primary, .ant-btn-primary:hover, .ant-btn-primary:focus{
		background-color: #4080FF;
		border-color: #4080FF;
	}
}