
.oa-group{
	display: flex;
	flex-direction: column;
	.ant-row{
		margin-bottom: 10px;
	}
	.switch-label{
		padding-left: 8px;
	}
	.members-container{
		overflow: hidden;
		zoom: 1;
		border: 1px solid #E5E6EB;
	}
	.oa-group-setting{
		width: 50%;
		float: right;
		box-sizing: border-box;
		.group-info{
			overflow: hidden;
			.group-avatar{
				margin-bottom: 5px;
			}
		}
		.selected-members-container{
			overflow-y: auto;
			flex-wrap: wrap;
			.select-member{
				display: flex;
				align-items: center;
				margin: 5px 0;
			}
			.cancel-member{
				cursor: pointer;
				flex: 0 0 30px;
			}
			.member-img{
				width: 40px;
				height: 40px;
				margin-right: 10px;
			}
			.member-name{
				flex: auto;
			}
		}
	}
	.oa-group-member{
		float: left;
		width: 50%;
		.member-list{
			width: 90%;
			height: 290px;
			overflow-y: auto;
			.ant-menu{
				border-right: none;
			}
			li{
				display: flex;
				align-items: center;
				// justify-content: space-between;
				.avatar-name {
					height: 40px;
					display: flex;
					align-items: center;
					margin-left: 10px;
					.member-img{
						width: 40px;
						height: 40px;
						margin-right: 10px;
					}
				}
			}
		}
	}

	.oa-group-create-setting{
		.selected-members-container{
			height: 245px;
		}
		.ant-switch{
			margin-left: 20px;
		}
		.ant-form-item {
			margin-bottom: 10px;
		}
	}
	.oa-group-delete-setting,
	.oa-group-add-setting{
		.selected-members-container{
			height: 500px;
		}
	}
}

// 群列表详情
.oa-group-detail {
	width: calc(100% - 301px);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
	.member-img{
		width: 100px;
		height: 100px;
	}
	.group-name{
		font-size: 18px;
		margin: 10px 0 100px;
	}
}

.add_group_modal{
	.public_group_list{
		height: 320px;
		overflow-y: auto;
		overflow-x:hidden;
		.ant-menu-item{
			display: flex;
			align-items: center;
			color: #555;
		    padding: 5px 10px!important;
		    height: auto!important;
		    line-height: 30px!important;
			.member-img{
				width: 40px;
			    height: 40px;
			    margin-right: 10px;
			    max-width: 174px;
			}
			.item-top{
				width: calc(100% - 50px);
		    	max-width: 174px;
		    	>span{
		    		height: 25px;
		    		display: block;
		    	}
			}
		}
	}
}


.group-list{
	ul{
		margin-left: -5px;
		li{
			overflow: hidden;
			zoom: 1;
			padding: 10px;
			color: #1D2129;
			cursor: pointer;
			&:hover{
				background-color: #F7F8FA;
			}
			.user-avatar{
				float: left;
			}
			p{
				color: #86909C;
			}
		}
	}
}


