.login-container{
	width: 100%;
	height: 100%;
	background: url(../assets/img/bg-loign.jpg) 0 0 no-repeat;
	background-size: cover;
	position: relative;
}

.oa-login{
	position: absolute;
	top: 23%;
	right: 50px;
}
.login-drag{
	position: relative;
	height: 60px;
	background: transparent;
	-webkit-app-region: drag; // 可拖动
	&::after{
		content: " ";
		position: absolute;
		width: 40%;
		height: 20px;
		right: 0;
		bottom: -10px;
		background-color: transparent;
		box-shadow: 5px 3px 5px rgba(0, 0, 0, .1);
		opacity: 0.5;
	}
	.logo-home{
		width: 119px;
		height: 52px;
		background: url(../assets/img/logo-home.jpg) 0 0 no-repeat;
		right: 10px;
		top: 20px;
		position:absolute;
		zoom: 0.8;
		right: 50px;
		z-index: 1;
	}
}
.login-logo{
	width: 80px;
	height: 80px;
	background: #24BDB9;
	border-radius: 50%;
	margin-bottom: 30px;
	img {
		width: 80px;
		height: 80px;
	}
}
.app-login {
	background: #fff;
	display: flex;
	justify-content: center;
	width: 320px;
	position: relative;
	overflow: hidden;
	border: 1px solid #E5E7E9;
		border-radius: 4px;
		padding: 20px 0;
		box-shadow: 0px 8px 24px 0px rgba(4,0,0,0.1);
	> section{
		width: calc(100% - 60px);
		display: flex;
		flex-direction: column;
		// margin: 15px 0;
	 	> header{
			text-align: center;
			> img {
				max-width: 180px;
			}
		}
	}
	.app-login-form{
		margin-top: 30px;
	}
	.login-form-button {
		width: 100%;
	}
	.btn-qrcode{
		position: absolute;
		right: 0;
		z-index: 3;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}
	.login-qrcode{
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 2;
		margin: 0;
		overflow: hidden;
		text-align: center;
		h4{
			font-size: 18px;
			padding: 10px 0 20px;
		}
		div{
			padding: 20px 0;
			.ico-phone{
				display: inline-block;
				width: 132px;
				height: 240px;
				background: url(../assets/img/ico-phone.png) 0 0 no-repeat;
				background-size: cover;
				zoom: 0.14;
			}
			&.scan-success{
				.ico-phone{
					zoom: 0.4;
				}
				p{
					margin: 15px 0 0;
				}
				em{
					font-style: normal;
					color: #ff261f;
					padding-left: 3px;
				}
			}
			.cancel-login{
				display: block;
				padding-top: 20px;
				cursor: pointer;
			}
		}
		canvas{
			width: 200px;
			height: 200px;
			border: 1px solid #E6EBF6;
		}
	}
}
.block{
	display: block;
}
.none{
	display: none;
}
