.oa-main-list{
	width: 35%;
	max-width: 300px;
}
.contact-content{
	padding: 0 10px;
}
.contact-main{
	width: 100%;

	h3{
		padding: 10px 0 10px 15px;
		border-bottom: 1px solid #F2F3F5;
		margin: 0 -10px 10px;
	}
}

.my-org{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding: 0 10px;
	&::-webkit-scrollbar{
		width: 6px;
    background-color: #f4f4f4;
	}
	&::-webkit-scrollbar-thumb {
    background-color: rgb(214, 209, 209);
    border-radius: 3px;
	}
	.org-breadcrumb{
		padding-left: 5px;
		padding-bottom: 10px;
		color: #888;
	}
	.user-avatar{
		margin-right: 10px;
	}
	.org-list{
		li{
			position: relative;
			&::after{
				content: "";
				display: block;
				width: 0;
				height: 0;
				border:5px solid transparent;
				border-left-color: #1D2129;
				position: absolute;
				right: 5px;
				top: 12px;
			}
		
		}
	}
	ul{
		li{
			line-height: 36px;
			margin-bottom: 5px;
			padding-left: 5px;
			&:hover{
				background-color: #F7F8FA;
				border-radius: 4px;
			}
			a{
				display: block;
			}
		}
	}
}